## Baseline: Random forest
- https://dacon.io/competitions/official/236125/codeshare/8492?page=1&dtype=recent

In [3]:
#Library Imports
import random
import pandas as pd
import numpy as np
import os

from sklearn.ensemble import RandomForestRegressor

import warnings
warnings.filterwarnings(action='ignore')

In [4]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed 고정

In [5]:
train_df = pd.read_csv("../data/elec2023/train.csv")
test_df = pd.read_csv("../data/elec2023/test.csv")

In [6]:
train_df.head()

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40

In [7]:
test_df.head()

   num_date_time  건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)
0  1_20220825 00     1  20220825 00   23.5      0.0      2.2     72
1  1_20220825 01     1  20220825 01   23.0      0.0      0.9     72
2  1_20220825 02     1  20220825 02   22.7      0.0      1.5     75
3  1_20220825 03     1  20220825 03   22.1      0.0      1.3     78
4  1_20220825 04     1  20220825 04   21.8      0.0      1.0     77

In [8]:
train_df = train_df.fillna(0)
train_df.head()

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20220601 00,1,20220601 00,18.6,0.0,0.9,42.0,0.0,0.0,1085.28
1,1_20220601 01,1,20220601 01,18.0,0.0,1.1,45.0,0.0,0.0,1047.36
2,1_20220601 02,1,20220601 02,17.7,0.0,1.5,45.0,0.0,0.0,974.88
3,1_20220601 03,1,20220601 03,16.7,0.0,1.4,48.0,0.0,0.0,953.76
4,1_20220601 04,1,20220601 04,18.4,0.0,2.8,43.0,0.0,0.0,986.40

In [9]:
#시계열 특성을 학습에 반영하기 위해 일시를 월, 일, 시간으로 나눕니다
train_df['month'] = train_df['일시'].apply(lambda x : int(x[4:6]))
train_df['day'] = train_df['일시'].apply(lambda x : int(x[6:8]))
train_df['time'] = train_df['일시'].apply(lambda x : int(x[9:11]))

In [10]:
train_x = train_df.drop(columns=['num_date_time', '일시', '일조(hr)', '일사(MJ/m2)', '전력소비량(kWh)'])
train_y = train_df['전력소비량(kWh)']

In [11]:
train_x

        건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  month  day  time
0          1   18.6      0.0      0.9   42.0      6    1     0
1          1   18.0      0.0      1.1   45.0      6    1     1
2          1   17.7      0.0      1.5   45.0      6    1     2
3          1   16.7      0.0      1.4   48.0      6    1     3
4          1   18.4      0.0      2.8   43.0      6    1     4
...      ...    ...      ...      ...    ...    ...  ...   ...
203995   100   23.1      0.0      0.9   86.0      8   24    19
203996   100   22.4      0.0      1.3   86.0      8   24    20
203997   100   21.3      0.0      1.0   92.0      8   24    21
203998   100   21.0      0.0      0.3   94.0      8   24    22
203999   100   20.7      0.0      0.1   95.0      8   24    23

[204000 rows x 8 columns]

In [12]:
train_y

0         1085.28
1         1047.36
2          974.88
3          953.76
4          986.40
           ...
203995     881.04
203996     798.96
203997     825.12
203998     640.08
203999     540.24
Name: 전력소비량(kWh), Length: 204000, dtype: float64

In [13]:
model = RandomForestRegressor()
model.fit(train_x, train_y)

RandomForestRegressor()